{% extends 'base.html' %}
{%  load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<body>
{% block content %}
    <div class="container">
    <h1 class="mx-auto mt-3">Investors Page!</h1>
    <div class="row">
        <div class="col-md-12 col-xl-4">
            <div class="card shadow my-3">
            <p class="card-title mx-3 my-3">Total Users</p>
                <h3 class="card-label mx-3 ">{{ user_count }} Users</h3>
            </div>
        </div>
        <div class="col-md-12 col-xl-4">
        <div class="card shadow my-3">
            <p class="card-title mx-3 my-3">Total Enrollments</p>
                <h3 class="card-label mx-3 ">{{ enrollment_count }} Enrollments</h3>
            </div>
        </div>
        <div class="col-md-12 col-xl-4">
        <div class="card shadow my-3">
            <p class="card-title mx-3 my-3">Total Sessions</p>
                <h3 class="card-label mx-3 ">{{ session_count }} Sessions</h3>
            </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}