{% extends 'base.html' %}
{%  load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<body>
{% block content %}
    <div class="container">
    <h1 class="mx-auto mt-3">Investors Page!</h1>
    <div class="row">
        <div class="col-md-12 col-xl-3">
            <div class="card mx-3 my-3">
            <h5 class="card-title mx-3 my-3">Total Users</h5>
                <h3 class="card-label mx-3 ">{{ user_count }} Users</h3>
            </div>
        </div>
        <div class="col-md-12 col-xl-3">
        <div class="card mx-3 my-3">
            <h5 class="card-title mx-3 my-3">Total Enrollments</h5>
                <h3 class="card-label mx-3 ">{{ enrollment_count }} Enrollments</h3>
            </div>
        </div>
        <div class="col-md-12 col-xl-3">
        <div class="card mx-3 my-3">
            <h5 class="card-title mx-3 my-3">Total Tutors</h5>
                <h3 class="card-label mx-3 ">{{ tutor_count }} Tutors</h3>
            </div>
        </div>
        <div class="col-md-12 col-xl-3">
        <div class="card mx-3 my-3">
            <h5 class="card-title mx-3 my-3">Total Sessions</h5>
                <h3 class="card-label mx-3 ">{{ session_count }} Sessions</h3>
            </div>
        </div>
        <div class="col-md-12 col-xl-12">
            <div class="card mx-3 my-3">
            <h5 class="card-title mx-3 my-3">Correlation</h5>
                <h3 class="card-label mx-3 ">Graph</h3>
            </div>
        </div>
        </div>
    </div>
</body>
{% endblock %}