<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% extends "base.html" %}

{% block content %}
<body>
  <div class="container mx-3">
    <h1>Create New Session</h1>
    <div class="row">
      <div class="col-md-12">
        <form method="post" id="session-form">
          {% csrf_token %}
          <div class="col col-md-6">
            <div class="mb-3">
              <h5>{{ form.category.label }}</h5>
              <label for="{{ form.category.id_for_label }}"></label>
              {{ form.category }}
              {% if form.category.errors %}
                <div class="text-danger">
                  {% for error in form.category.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <h5>{{ form.session_description.label }}</h5>
              {{ form.session_description }}
              <label class="text-area" for="{{ form.session_description.id_for_label }}"></label>
              {% if form.session_description.errors %}
                <div class="text-danger">
                  {% for error in form.session_description.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <h5>{{ form.session_name.label }}</h5>
              {{ form.session_name }}
              <label class="text-area" for="{{ form.session_name.id_for_label }}"></label>
              {% if form.session_name.errors %}
                <div class="text-danger">
                  {% for error in form.session_name.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <h5>{{ form.start_date.label }}</h5>
              <label for="{{ form.start_date.id_for_label }}"></label>
              {{ form.start_date }}
              {% if form.start_date.errors %}
                <div class="text-danger">
                  {% for error in form.start_date.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="col col-md-6">
            <div class="mb-3">
              <h5>{{ form.end_date.label }}</h5>
              <label for="{{ form.end_date.id_for_label }}"></label>
              {{ form.end_date }}
              {% if form.end_date.errors %}
                <div class="text-danger">
                  {% for error in form.end_date.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <h5>{{ form.location.label }}</h5>
              <label for="{{ form.location.id_for_label }}"></label>
              {{ form.location }}
              {% if form.location.errors %}
                <div class="text-danger">
                  {% for error in form.location.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <h5>{{ form.maximum_participant.label }}</h5>
              <label for="{{ form.maximum_participant.id_for_label }}"></label>
              {{ form.maximum_participant }}
              {% if form.maximum_participant.errors %}
                <div class="text-danger">
                  {% for error in form.maximum_participant.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <h5>{{ form.fee.label }}</h5>
              <label for="{{ form.fee.id_for_label }}"></label>
              {{ form.fee }}
              {% if form.fee.errors %}
                <div class="text-danger">
                  {% for error in form.fee.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <script>
          flatpickr("input[name='start_date']", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            theme: "material_blue",
          });
          flatpickr("input[name='end_date']", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            theme: "material_blue",
            time_24hr: true,
          });
        </script>
      </div>
    </div>
  </div>
</body>
{% endblock %}
