{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
  <script>
    window.onload = (event) => {
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });
      if (params.filter_option == null) return;
      document.getElementById("opt" + params.filter_option).selected = true;
    } ;
  </script>

  <h1>Available Sessions</h1>
  <form method="GET" action="{% url 'session-list' %}">
      <select name="filter_option" id='filter_option'>
          <option value="">All</option>
          {% for category in categories %}
              <option value="{{ category.category_id }}" id="opt{{ category.category_id }}">{{ category.category_name }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Filter">
  </form>

   {% if sessions %}
    <div class="row">
        {% for session in sessions %}
        <div class="col mb-3">
            <div class="card h-100 shadow">
                <div class="card-body mt-3">
                    <h3 class="card-title">{{ session.name }}</h3>
                    <small class="card-text">By: {{ session.tutor }}</small>
                    <span class="badge badge-primary">{{ session.category }}</span>
                    <p>{{ session.start_date }} to {{ session.end_date }}</p>
                    <p>at {{ session.location }} </p>
                    
                    <a href="{% url 'session-list' session.id %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="mt-3">There are no available sessions at the moment.</p>
    {% endif %}
<div class="position-absolute bottom-0 end-0 mx-3">
        <a href="{% url 'session-create' %}" class="btn btn-primary mb-3 rounded-circle">
            <i class="bi bi-plus"></i>
        </a>
    </div>
{% endblock %}
</div>