{% extends "base.html" %}

{% block content %}
  <h1>Session Details</h1>

  <div class="card">
    <div class="card-body">
      <h2>{{ session.session_name }}</h2>
      <p><strong>Your tutor:</strong> {{ session.tutor_id.username }}</p>
      <p><strong>PromptPay ID:</strong>
        <span class="text-danger">{{ session.get_tutor_info.phone_number }}</span>
      </p>
      <p><strong>Category:</strong> {{ session.category }}</p>
      <p><strong>Description:</strong> {{ session.session_description }}</p>
      <p><strong>Start Date:</strong> {{ session.start_date }}</p>
      <p><strong>End Date:</strong> {{ session.end_date }}</p>
      <p><strong>Location:</strong> {{ session.location }}</p>
      <p><strong>Fee:</strong> {{ session.fee }} Baht</p>
      <p><strong>Participants:</strong> {{ session.participants.count }} / {{ session.maximum_participant }}</p>
    </div>
  </div>

  <h3>Participants</h3>
  <ul>
    {% for participant in session.participants.all %}
      <li>{{ participant.username }}</li>
    {% empty %}
      <p>No participants yet.</p>
    {% endfor %}
  </ul>

  {% if request.user == session.tutor_id %}
    {% if not session.is_full %}
      <h3>Applicants</h3>
      <ul>
        {% for transaction in session.get_pending_transactions %}
          <div class="d-flex justify-content-start align-items-center mb-2">
            <p class="mb-0 mr-2">{{ transaction.learner.username }}: {{ transaction.payment_id }}</p>
            <form method="post" action="{% url 'accept-session' session.pk transaction.learner.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-success mr-2">Accept</button>
            </form>
            <form method="post" action="{% url 'cancel-session' session.pk transaction.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
          </div>
        {% empty %}
          <p>No applicants yet.</p>
        {% endfor %}
      </ul>
    {% else %}
      <p>The session is full.</p>
    {% endif %}
  {% else %}
    {% if not request.user.is_authenticated %}
      <h5>Login to join any sessions</h5>
    {% elif request.user in session.participants.all %}
      <form method="post" action="{% url 'leave-session' session.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Leave Session</button>
      </form>
    {% elif request.user in session.get_applicants %}
      <p>You have applied for this session and are pending approval.</p>
    {% elif not session.is_full %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">Apply Session</button>

      <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="paymentModalLabel">PromptPay Payment</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="paymentForm" method="post" action="{% url 'apply-session' session.pk %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="promptpay-id" class="col-form-label">PromptPay ID: {{ session.get_tutor_info.phone_number }}</label>
                </div>
                <div class="mb-3">
                  <label for="fee" class="col-form-label">Fee: {{ session.fee }} Baht</label>
                </div>
                <div class="mb-3">
                  <label for="payment-id" class="col-form-label">Your payment ID:</label>
                  <input type="text" class="form-control" id="payment-id" name="payment_id" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p>The session is full.</p>
    {% endif %}
  {% endif %}

  <a href="{% url 'session-list' %}" class="btn btn-primary mt-3">Back to Sessions</a>
{% endblock %}
